#################################################################
### Config Frigate v0.16.2 minimal for camera REOLINK E1 Zoom ###
#################################################################

mqtt:
  enabled: false  # must be "true" if used on Home Assistant
  host: your_IP_mqtt  # Must be modified with your mqtt settings
  port: 1883
  user: your_user_mqtt  # Must be modified with your mqtt settings
  password: your_mqtt_password  # Must be modified with your mqtt settings
  topic_prefix: frigate
  client_id: frigate
  stats_interval: 60

detectors:
  ov:
    type: openvino
    device: GPU

model:
  width: 300
  height: 300
  input_tensor: nhwc
  input_pixel_format: bgr
  path: /openvino-model/ssdlite_mobilenet_v2.xml
  labelmap_path: /openvino-model/coco_91cl_bkgr.txt

ffmpeg:
  hwaccel_args: preset-vaapi

go2rtc:
  streams:
    salon_main:
      - rtsp://your_login:your_password@your_IP_camera:554//Preview_01_main # for CAMERA REOLINK E1 Zoom # Must be modified with your camera settings
#    salon_sub:
#      - rtsp://your_login:your_password@your_IP_camera:554/Preview_01_sub # for CAMERA REOLINK E1 Zoom # Must be modified with your camera settings
  webrtc:
    listen: 8555
    candidates:
      - 127.0.0.1:8555
      - your_IP_Frigate:8555  # Must be modified with your settings

cameras:
  salon:
    enabled: true
    onvif:
      host: your_IP_camera  # Must be modified with your settings
      port: your_port_onvif_camera  # Must be modified with your settings
      user: your_user_camera  # Must be modified with your settings
      password: your_password_camera  # Must be modified with your settings
      ignore_time_mismatch: true
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/salon_main
          roles:
            - record
            - detect
#        - path: rtsp://127.0.0.1:8554/salon_sub
#          roles:
#            - detect
    detect:
      enabled: true
      height: 360 # Hauteur des images utilisées pour la détection
      width: 640 # Largeur des images utilisées pour la détection
      fps: 5 # Taux de détection en images par seconde
      #annotation_offset: -500
    live:
      streams:
        main_stream: salon_main
#        sub_streams: salon_sub
